<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
              <a class="nav-link" routerLink="todos">Todos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="items">Items</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Login</a>
            </li>
          </ul>
        </div>
      </nav>

</header>
