<div class="card">
    <div class="card-header">
        <h3>Add Item</h3>
    </div>
    <div class="card-body">
<form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
    
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" [ngClass]="{'is-invalid': this.addItemForm.get('name').touched && this.addItemForm.get('name').invalid}" class="form-control">
        <small *ngIf="this.addItemForm.get('name').touched && this.addItemForm.get('name').hasError('required')" class="text-danger">This Field Is Required</small>
    </div>
    <div class="form-group ">
        <label for="description">Is Active</label>
        <div class="form-check">
            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" formControlName="isActive" [value]="true" aria-label="...">
          </div>
    </div>
    <div class="form-group clearfix">
        <input type="submit" class="btn btn-block btn-primary float-right" value="Add">
    </div>
    <div class="alert alert-danger" *ngIf="error | async">
        {{(error | async).message }}
    </div>

</form>
</div>
</div>