<div class="card">
    <div class="card-header">
        <h3>Todos</h3>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>

            </thead>
            <tbody *ngIf="todos |async">
                <tr *ngFor="let todo of todos|async ; trackBy getIndex">
                    <td>{{todo.id}}</td>
                    <td>{{todo.name}}</td>
                    <td>{{todo.description | slice:0:20}} ...</td>
                    <td><a role="button" (click)="onDelete(todo.id)" class="badge badge-danger">Delete</a> 
                        <a role="button" [routerLink]="['edit',todo.id]" class="ml-2 badge badge-primary">Update</a></td>

                </tr>
            </tbody>

        </table>
    </div>
</div>