<div class="card">
    <div class="card-header">
        <h3>Add Todo</h3>
    </div>
    <div class="card-body">
<form action="" [formGroup]="addTodoForm" (ngSubmit)="onSubmit()">
    
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" [ngClass]="{'is-invalid': this.addTodoForm.get('name').touched && this.addTodoForm.get('name').invalid}" class="form-control">
        <small *ngIf="this.addTodoForm.get('name').touched && this.addTodoForm.get('name').hasError('required')" class="text-danger">This Field Is Required</small>
    </div>
    <div class="form-group ">
        <label for="description">Name</label>
        <textarea  [ngClass]="{'is-invalid': this.addTodoForm.get('description').touched && this.addTodoForm.get('description').invalid}" formControlName="description" class="form-control" id="" cols="30" rows="10"></textarea>
        <small *ngIf="this.addTodoForm.get('description').touched && this.addTodoForm.get('description').hasError('required')" class="text-danger">This Field Is Required</small>
        <small *ngIf="this.addTodoForm.get('description').touched && this.addTodoForm.get('description').hasError('minlength')" class="text-danger">This Field Should be longer than 10 characters</small>

    </div>
    <div class="form-group clearfix">
        <input type="submit" class="btn btn-block btn-primary float-right" value="Add">
    </div>
    <div class="alert alert-danger" *ngIf="error | async">
        {{(error | async).message }}
    </div>

</form>
</div>
</div>