<div class="card">
    <div class="card-header">
        <h3>Items</h3>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Is Active</th>
                <th></th>

            </thead>
            <tbody *ngIf="items |async">
                <tr *ngFor="let item of items|async ; trackBy getIndex">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>
                    <span *ngIf="item.isActive; else notActive;" class="badge badge-success">Active</span>
                        <ng-template #notActive>
                            <span class="badge badge-warning">Inactive</span>
                        </ng-template>
                    </td>
                    <td><a role="button" (click)="onDelete(item.id)" class="badge badge-danger">Delete</a> 
                        <a role="button" [routerLink]="['edit',item.id]" class="ml-2 badge badge-primary">Update</a></td>

                </tr>
            </tbody>

        </table>
    </div>
</div>