
<div class="card">
    <div class="card-header">
        <h2>Home Page</h2>
    </div>
    <div class="card-body">
        <div class="64">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam alias cum excepturi quidem neque, doloremque quisquam illo dolorum, repudiandae nam libero quasi necessitatibus placeat blanditiis eum facilis laborum incidunt minus.</div>
    </div>
    <div class="card-footer">
        
    </div>
</div>